@import "tailwindcss";

#admin-sidebar .active{
    background: dodgerblue;
}

#group-tab .active{
    color: dodgerblue ;
    text-decoration: underline;
}
.container{
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }
